*{
  color: white;
}
.App {
  background: #ec60bb;
  min-height: 100vh;
}

.myBatton{
  margin: 30px;
  align-items: center;
  height: 40px;
  width: 250px;
  background: rgba(255, 255, 255, 0.816);
  color: #282c34;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.myCardCompetence {
  border: #282c34;
  background: #00000030;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.myText{
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
}

.myList {
  min-width: 100vh;
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}